@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&family=Poppins&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub__container {
  max-width: 1440px;
  width: 65%;
  margin-top: 110px;
}

.title__container {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.header {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 36px;
}

.sub__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.para {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 10px;
}

.image__container {
  /* background: chocolate; */
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-row-gap: 5rem;
  padding: 96px 0;
}

.role {
  writing-mode: vertical-rl;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
}

.name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
}

.shift_bottom {
  margin-top: 77px;
}

.image__details {
  display: flex;
}

img {
  width: 245px;
  object-fit: cover;
}

.footer {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 1101px) {
  .title__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .sub__header {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 990px) {
  .sub__container {
    width: 100%;
  }

  .image__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }

  img {
    width: 300px;
  }
}

@media only screen and (max-width: 750px) {
  img {
    width: 145px;
  }
}

@media only screen and (max-width: 350px) {
  img {
    width: 120px;
  }

  .role {
    margin-left: 5px;
  }
}
